/ECommerce/nbproject/private/
/ECommerce/logs/
/ECommerce/cache/
/ECommerce/uploads/

/vendor/
cache/cc/ccfe155fcffa58d8a79e62aefcb0c64e5b35da07af147a1fb10707704d546476.php
cache/cc/ccfe155fcffa58d8a79e62aefcb0c64e5b35da07af147a1fb10707704d546476.php
nbproject/private/private.properties
cache/cc/ccfe155fcffa58d8a79e62aefcb0c64e5b35da07af147a1fb10707704d546476.php
nbproject/private/private.properties
nbproject/private/private.properties
nbproject/private/private.properties