{% extends "master.html.twig" %}

{% block title %} Page add/edit product{% endblock %}

{% block content %}
    <div id = "category_form" method="POST">
        <form >
            <label>Category name: </label><input type="Text" name="categoryName"> 
            <input type="submit" value="Add new category">
        </form>
    </div>
{% endblock %}
