{% extends "master.html.twig" %}

{% block title %} {{ "home"|trans }} {% endblock %}
{% block head %}   
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/shop-item.css" rel="stylesheet">


    <!-- jQuery -->

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>-->
   <!--<script src="/js/locations_script.js"></script>-->
    
   {% endblock %}


{% block content %}

        <div class="container">
            
          <div class="row" style="margin-top:100px;">
         <input id="address" type="text" value="Montreal" />
<input id="search" type="submit" value="Search" />
<div id="map_canvas" style="height: 600px; width: 800px;"></div>
          </div>
        </div>
      <script type="text/javascript">

var map = null;
var geocoder = null;
var markers = [];
var infoWindow = null;

jQuery('#search').click(function() {
	var address = jQuery('#address').val() || 'Montreal';
	if (map === null)
		initializeMap();
	searchAddress(address);
});

function initializeMap() {
    
        
	var mapOptions = {
		zoom: 13,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}
	map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);	
	geocoder = new google.maps.Geocoder();
	infoWindow = new google.maps.InfoWindow();
}

function searchAddress(address) {
	geocoder.geocode( { 'address': address}, function(results, status) {
		if (status === google.maps.GeocoderStatus.OK) {
			var latlng = results[0].geometry.location;
			map.setCenter(latlng);
			searchStores(latlng.lat(), latlng.lng());
			
		} else {
			alert('Geocode was failed: ' + status);
		}
	});
}

function searchStores(lat, lng) {
	//var parameter = { lat: lat, lng: lng };
	jQuery.ajax({
		url: '/store-ajax/' + lat + '/' + lng,
                type: "GET",
		dataType: 'json',
		success: function(data) {
                    infoWindow.close();
        
	for (var i = 0; i < markers.length; i++) {
		markers[i].setMap(null);
	}
	markers.length = 0;
	
	for (var i in data) {
		data[i];
                var latlng = new google.maps.LatLng(
				parseFloat(data[i]['latitude']),
				parseFloat(data[i]['longitude'])
			);
	var html = "<b>" + data[i]['address'] + "</b> <br>" + data[i]['distance'] + " miles";
	var marker = new google.maps.Marker({
			map: map,
			position: latlng
		});
                
	google.maps.event.addListener(marker, 'click', function() {
			infoWindow.setContent(html);
			infoWindow.open(map, marker);
		});
               marker.setMap(map);
	markers.push(marker);
	}
                }
	});

}
    

// To add the marker to the map, call setMap();
	


    </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBGdAE-nd01tQ-SGkwgc0bTDnd4jXa-UM"></script>

   
        {% endblock %}  