{% extends "master.html.twig" %}

<<<<<<< HEAD
{% block title %}{{"Sign  Out"|trans}}{% endblock %}


{% block content %}
    <div class="container" id="loginContainer">
                        <h1>{{"You are now signed out"|trans}}</h1>
                <a class="btn btn-lg btn-primary btn-block" style="width:150px;margin:auto;" href="/">{{"Continue"|trans}}</a>
                <div class="row"> </div>
    </div>
{% endblock %}
=======
{% block title %}Logged out{% endblock %}

{% block content %}
    
<h1>Logged out</h1>

<a href="/">Click to continue</a>

{% endblock %}
>>>>>>> origin/master
