{% extends "master.html.twig" %}

{% block title %} {{ "Registration Succesful"|trans }} {% endblock %}
{% block head %}   
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/shop-item.css" rel="stylesheet">

{% endblock %}


{% block content %}
    <div class="authSuccess">
     <h1>{{ "Registration Succesful"|trans }}</h1>
    <a href="/login">{{ "Click to Login"|trans }}</a>   
    </div>
     {% endblock %}  
