{% extends "master.html.twig" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    
<h1>Invalid attempt to reset password.</h1>

<a href="/">Click to continue</a>

{% endblock %}