body{
   background-color: #5ab2d9; 
}
.productPageImage {
    width:200px !important;
}
#logo{
    margin-top: -15px;
    width: 120px;
    margin-left: -95px;
}
.navbar{
    background-color: #025274;
}
.log-register{
    float: right;
    margin-right: 30px;
}
.flag{
   width: 45px; 
}
.flag-fr{
   margin: 3px 10px 0 270px;
}
.flag-en{
   margin-top: 3px;
}
.flag-fr > img:hover {
   width: 50px; 
}
.cart{
    width: 30px;
    margin-top: -10px;
    padding-bottom: -5px;
}
.fontsize{
    font-size: 18px;
}
.category{
    margin-left: 30px;
    height: 800px;
}
.reviewEmptyStar {
    font-size: 35px;
}
ul.pagination {
    display: inline-block;
    margin: auto;
    padding: 0;
}

ul.pagination li {display: inline;}

ul.pagination li button {
    color: black;
    float: left;
    padding: 8px 16px;
}
#reviewList {
    min-height: 400px;
}
.activePage {
    background-color: #449d44;
}
.disabled {
    color: lightgray !important;
}
#cartTable {
    margin: 50px 20px;
}
.cartImage {
    width: 100px !important;
}
#cartTable td,th {
    width: 200px;
    border-bottom: 1px solid #9d9d9d;
}
#totals {
    width: 40%;
    text-align: right;
}